<% add_decidim_page_title(t("decidim.analytics.admin.title.analytics")) %>

<div class="row">
  <div class="columns">
    <div class="card" id="analytics">
      <div class="card-divider">
        <h2 class="card-title">
          <%= icon "bar-chart-2-line", class: "icon--before" %>
          <%= t("decidim.analytics.admin.title.analytics") %>
        </h2>
      </div>

      <div class="card-section">
        <% if @server_address.present? && @site_id.present? && @token_auth.present? %>
          <div class="analytics-iframe-container">
            <iframe
              src="<%= matomo_dashboard_url(@server_address, @site_id, @token_auth) %>"
              title="<%= t("decidim.analytics.admin.iframe_title") %>"
              class="analytics-iframe">
            </iframe>
          </div>
        <% else %>
          <div class="callout warning">
            <h5><%= t("decidim.analytics.admin.configuration_missing") %></h5>
            <p><%= t("decidim.analytics.admin.configuration_help") %></p>

            <h6><%= t("decidim.analytics.admin.configuration_instructions") %></h6>
            <pre><code># config/secrets.yml
matomo:
  server_address: "https://your-matomo-domain.com"
  site_id: "1"
  token_auth: "your-token-here"</code></pre>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :head do %>
  <%= stylesheet_pack_tag "decidim_analytics" %>
<% end %>